#title{
    padding-top: 2.7em;
    font-size: 4em;
}

#caption{
    font-size: 2em;
    width: 50%;
    margin: 0,auto;
    padding-top: 2.4em;
    padding-bottom: 2.4em;
} 

img{
    height: 3em;
    width: auto;

}

div img{
    margin-top:1rem;
}

#center{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}


.download{
    margin: 0,auto;
    background-color: orange;
    color: black;
    border: 2px solid black;
    border-radius: 0.5em;
    padding: 1em;
    align-items: center;

    a{
        color: black;
        text-decoration: none;
        font-size: 1.4em;
    }
}

#first_icon{
    grid-area: first_icon;
    padding: 1rem;
}

#first_link{
    grid-area: first_link;
    padding: 1rem;
}
footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}
